@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,900');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300,400');

*{ 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

body {
	font-size: 16px; /*1em = 16px*/
	text-align: center;
	line-height: 1.5;
	position: relative;
}
section {
	padding:5em 0;
}
header img{
	float:left;
	margin: 1em;
}

nav {
	float:right;
	margin: .5em;
}
.navlinks{
	font-family: 'Josefin Slab', 'Times New Roman', serif;
	font-weight: 300;
	font-style: normal;
	color: #fff;
	text-transform: lowercase;
	letter-spacing: 2px;
	padding: 1em;
	display:inline-block;
	margin: 0 20px;
	border: none;
}
nav a:hover {
	background-color: #6535ff;
}

h1 {
	font-family: 'Josefin Slab', 'Times New Roman', serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1.5em;
	text-align:center;
	color: #fff;
	margin: 200px 0 0;

}

#landing h2 {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 1000;
	font-style: 900;
	font-size: 80px;
	color: white;
}

h2 {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: black;
	font-style: 900;
	font-size: 3em;
	color: #6535ff;
}

h3 {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 900;
	font-style: 900;
	font-size: 2em;
	color: black;
}

h4 {
	font-family: 'Josefin Slab', 'Times New Roman', serif;
	font-weight: 400;
	font-style: 400;
	font-size: 1em;
	color: black;
	padding-bottom: 10px;

}

hr {
	border: none;
	height: 3px;
	background-color: white;
	width: 2em;
	margin: 1em auto;
}

p {
	font-family: 'Josefin Slab', 'Times New Roman', serif;
	font-size:1em;
	font-style: 400;
	text-align: center;
	line-height: 1.5em;
	width: 30em;
	margin: 0.5em auto;


	/*width: 35em;
	text-align: left;
	position: relative; */
}

ul{
	list-style: none;
	margin: 0.5em auto;
	line-height: 1em;
}

li{
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 900;
	font-style: 900;
	font-size: 1.5em;
	color: #f59ea9;
	letter-spacing: 0.5px;
	text-align: center;
	margin: 1em auto;
}

img {
	/*position: relative;
	right: 600px;*/
}

a {
	text-decoration: none;
	color: white;
	border-bottom: 1px solid white;
	padding-bottom: 2px;
	letter-spacing: 0.5px;
}

footer {
	clear: both;
	background-color: #6535ff;
	border: none;
	padding: 20px;
}

#slogan {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 3em;
	text-align: center;
	margin: 1em auto;
}

#slogan span {
	color: #6535ff;
}

#landing {
	background:url(../images/samantha-background-homepage.jpg) no-repeat center center scroll;
	background-size: cover;
	height: 750px;
	padding: 20px 0;
}
.qt{
 	width:1em;
 	margin:2em auto;
 	background-color: white;
}

.kayla{
 	width:1em;
 	margin:2em auto;
 	background-color: white;
}

.urbis{
 	width:1em;
 	margin:2em auto;
 	background-color: white;
}

#portfolio {
	color: #F1E9E4;
	margin: 2em auto;
}

#portfolio img {
	width: 100%;
}

#portfolio div {
	width: 33.33%;
	float:left;
}

#contact {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-align: center;
	letter-spacing: 0.5px;
}
#services {
	background:#fccdd3;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
